---
---

<header>
  <div class="flex h-full justify-start">
    <div class="flex items-center site-title gap-4">
      <img src="/pf_logo.webp" alt="Planet Fitness Logo" width={48} />
      <span>Planet Fitness</span>
    </div>
  </div>
</header>

<style>
  header {
    z-index: var(10);
    position: sticky;
    inset-inline-start: 0;
    inset-block-start: 0;
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid var(--sl-color-black);
    padding: 0.75rem 1rem;
    padding-inline-end: 1rem;
    background-color: var(--sl-color-gray-6);
    color: var(--sl-color-accent);
    font-size: 1.25rem;
    font-weight: 600;
  }
  img {
    height: calc(3.5rem - 2 * 0.75rem);
    width: auto;
    max-width: 100%;
    object-fit: contain;
    object-position: 0 50%;
  }
</style>
